:root {
  --light-orange: #e6a570;
  --orange: #bf5701;
  --bg: #3A233E;
  --text: #fff;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Montserrat", sans-serif;
}

.logo {
  display: block;
  margin: auto;
}

.container {
  margin: 5% auto 0;
  padding: 10px;
  text-align: center;
  width: 50%;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-weight: 300;
}

.input {
  line-height: 20px;
  width: 15em;
}

.button-submit {
  background-color: var(--orange);
  border-radius: 8px;
  border-style: none;
  color: var(--text);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 16px;
}

.button-submit:hover {
  background-color: var(--light-orange);
}

.progress-bar {
  margin-top: 2.5%;
}

.progress-title {
  color: inherit;
}

li {
  color: inherit;
  list-style-type: none;
  text-align: center;
}

li[aria-hidden="true"] {
    height: 1rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}